@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
body, .title{
    font-family: 'Montserrat', sans-serif;
}

body{
    color: #384759;
}

.site-footer-right{
    display: none;
}

.voyager .side-menu.sidebar-inverse {
    background: #384759;
}
